@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  --main-color: rgb(84, 19, 146);
}

.previewBox {
  margin: 2rem 0;
  min-height: 10rem;
  border: 0.2em solid var(--main-color);

  font-size: 2rem;
  font-weight: bold;
  color: var(--main-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.previewCode {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.infoAlert {
  position: absolute;
  top: 1rem;
  right: 1rem;

  pointer-events: none;
  user-select: none;
}

.copyToClipboardBtn {
  position: absolute;
  top: 1rem; 
  right: 1rem;
}